<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="290px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1 *ngIf="!isCollapsed">Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzMode="inline" nzTheme="dark">
      <ng-container *ngFor="let item of menuItems; trackBy: trackByTitle">
        <ng-container *ngIf="item.subMenu && item.subMenu.length > 0; else menuItem">
          <li nz-submenu [nzTitle]="item.title!" [nzIcon]="item.icon!" [nzOpen]="item.open">
            <ul>
              <ng-container *ngFor="let subItem of item.subMenu; trackBy: trackByGroupTitle">
                <ng-container *ngIf="subItem.groupTitle; else subMenu">
                  <li nz-menu-group [nzTitle]="subItem.groupTitle">
                    <ul>
                      <ng-container *ngFor="let groupItem of subItem.subMenu; trackBy: trackByTitle">
                        <li nz-menu-item [nzSelected]="groupItem.selected" [ngStyle]="{'cursor': 'pointer'}">
                          <a [routerLink]="groupItem.route">{{ groupItem.title }}</a>
                        </li>
                      </ng-container>
                    </ul>
                  </li>
                </ng-container>
                <ng-template #subMenu>
                  <ng-container *ngIf="subItem.subMenu && subItem.subMenu.length > 0; else subMenuItem">
                    <li nz-submenu [nzTitle]="subItem.title!">
                      <ul>
                        <ng-container *ngFor="let nestedItem of subItem.subMenu; trackBy: trackByTitle">
                          <ng-container
                            *ngIf="nestedItem.subMenu && nestedItem.subMenu.length > 0; else nestedMenuItem">
                            <li nz-submenu [nzTitle]="nestedItem.title!">
                              <ul>
                                <ng-container *ngFor="let deepItem of nestedItem.subMenu; trackBy: trackByTitle">
                                  <li nz-menu-item [ngStyle]="{'cursor': 'pointer'}">
                                    <a [routerLink]="deepItem.route">{{ deepItem.title }}</a>
                                  </li>
                                </ng-container>
                              </ul>
                            </li>
                          </ng-container>
                          <ng-template #nestedMenuItem>
                            <li nz-menu-item [ngStyle]="{'cursor': 'pointer'}">
                              <a [routerLink]="nestedItem.route">{{ nestedItem.title }}</a>
                            </li>
                          </ng-template>
                        </ng-container>
                      </ul>
                    </li>
                  </ng-container>
                </ng-template>
                <ng-template #subMenuItem>
                  <li nz-menu-item [ngStyle]="{'cursor': 'pointer'}">
                    <a [routerLink]="subItem.route">{{ subItem.title }}</a>
                  </li>
                </ng-template>
              </ng-container>
            </ul>
          </li>
        </ng-container>
        <ng-template #menuItem>
          <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? item.title : ''"
            [ngStyle]="{'cursor': 'pointer'}">
            <span nz-icon [nzType]="item.icon!"></span>
            <span *ngIf="!isCollapsed">{{ item.title }}</span>
            <a [routerLink]="item.route"></a>
          </li>
        </ng-template>
      </ng-container>
    </ul>


  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
        <div class="header-right">
          <div class="user-profile">
            <nz-avatar nzIcon="user"></nz-avatar>
            <div class="user-info">
              <span class="user-name">User Name</span>
              <span class="user-position">Position Title</span>
            </div>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <nz-breadcrumb class="breadcrumb-custom" [nzAutoGenerate]="true" [nzRouteLabel]="'breadcrumb'">
        <nz-breadcrumb-item>
          <span nz-icon nzType="home"></span>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>