<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzMode="inline" nzTheme="dark">
      <ul nz-menu nzMode="inline" nzTheme="dark">
        <ng-container *ngFor="let item of menuItems; trackBy: trackByTitle">
          <ng-container *ngIf="item.subMenu && item.subMenu.length > 0">
            <li nz-submenu [nzTitle]="item.title!" [nzIcon]="item.icon!">
              <ul>
                <ng-container *ngFor="let subItem of item.subMenu; trackBy: trackByGroupTitle">
                  <ng-container *ngIf="subItem.groupTitle">
                    <li nz-menu-group [nzTitle]="subItem.groupTitle">
                      <ul>
                        <ng-container *ngFor="let groupItem of subItem.subMenu; trackBy: trackByTitle">
                          <li nz-menu-item [nzSelected]="groupItem.selected">
                            <a [routerLink]="groupItem.route">{{ groupItem.title }}</a>
                          </li>
                        </ng-container>
                      </ul>
                    </li>
                  </ng-container>
                  <ng-container *ngIf="!subItem.groupTitle && subItem.subMenu">
                    <li nz-submenu [nzTitle]="subItem.title!">
                      <ul>
                        <ng-container *ngFor="let nestedItem of subItem.subMenu; trackBy: trackByTitle">
                          <ng-container *ngIf="nestedItem.subMenu">
                            <li nz-submenu [nzTitle]="nestedItem.title!">
                              <ul>
                                <ng-container *ngFor="let deepItem of nestedItem.subMenu; trackBy: trackByTitle">
                                  <li nz-menu-item>
                                    <a [routerLink]="deepItem.route">{{ deepItem.title }}</a>
                                  </li>
                                </ng-container>
                              </ul>
                            </li>
                          </ng-container>
                          <ng-container *ngIf="!nestedItem.subMenu">
                            <li nz-menu-item>
                              <a [routerLink]="nestedItem.route">{{ nestedItem.title }}</a>
                            </li>
                          </ng-container>
                        </ng-container>
                      </ul>
                    </li>
                  </ng-container>
                  <ng-container *ngIf="!subItem.groupTitle && !subItem.subMenu">
                    <li nz-menu-item>
                      <a [routerLink]="subItem.route">{{ subItem.title }}</a>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </li>
          </ng-container>
          <ng-container *ngIf="!item.subMenu || item.subMenu.length === 0">
            <li nz-menu-item >
              <span class="mr-2" nz-icon [nzType]="item.icon!" ></span>
              <a [routerLink]="item.route">{{ item.title }}</a>
            </li>
          </ng-container>
        </ng-container>
      </ul>
      </ul>
 
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
        <div class="header-right">
          <div class="user-profile">
            <nz-avatar nzIcon="user"></nz-avatar>
            <div class="user-info">
              <span class="user-name">User Name</span>
              <span class="user-position">Position Title</span>
            </div>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>