@import "./customs/margin.scss";
@import "./customs/padding.scss";
@import "./customs/colors.scss";
@import "./customs/font-size.scss";
@import "./customs/font.scss";


.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.h-100vh {
  height: 100vh;
}

.input-group-field {
  padding: 12px;
  border-radius: 7px;
}

.input-field {
  padding: 10px;
  border-radius: 7px;

}