@font-face {
  font-family: 'Kanit';
  src: url('../../assets/fonts/kanit/Kanit-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('../../assets/fonts/kanit/Kanit-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('../../assets/fonts/kanit/Kanit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('../../assets/fonts/kanit/Kanit-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('../../assets/fonts/kanit/Kanit-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('../../assets/fonts/kanit/Kanit-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('../../assets/fonts/kanit/Kanit-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('../../assets/fonts/kanit/Kanit-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('../../assets/fonts/kanit/Kanit-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('../../assets/fonts/kanit/Kanit-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('../../assets/fonts/kanit/Kanit-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('../../assets/fonts/kanit/Kanit-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('../../assets/fonts/kanit/Kanit-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('../../assets/fonts/kanit/Kanit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('../../assets/fonts/kanit/Kanit-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('../../assets/fonts/kanit/Kanit-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('../../assets/fonts/kanit/Kanit-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('../../assets/fonts/kanit/Kanit-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

* {
  font-family: 'Kanit', sans-serif;
}
